# Slipstream Android Release Secrets
# Copy this file to .env and fill in the values.
# DO NOT COMMIT THE .env FILE!

RELEASE_KEYSTORE_FILE=../slipstream-release.jks
RELEASE_KEYSTORE_PASSWORD=
RELEASE_KEY_ALIAS=slipstream-key
RELEASE_KEY_PASSWORD=
VERSION_CODE=23000
