[Desktop Entry]
Type=Application
Name=Slipstream
Comment=Stream a remote slipstream host
Exec=slipstream-client %u
Icon=io.slipstream.Slipstream
Terminal=false
Categories=Network;Game;
Keywords=streaming;remote;game;moonlight;
StartupNotify=true
MimeType=x-scheme-handler/slipstream;
